






@mixin abcard-ab(){
    display:flex;
    align-items: center;
    justify-content:  center;
    // min-height:30vh;
    flex:1 1 100%;
    height:300px;
    // width:100%;
}


// .pt-40-60{
//   border:9px dashed green;
// }









.pt-abcard{
  // border:5px solid black;

  display:flex;
  // margin:auto;
  width:100%;
  flex-direction:column;
  align-items:stretch;

  &.pt-flipped{
    flex-direction:column-reverse;
  }
  
  // .pt-flipped & {
  //   >div:first-child{
  //     order:1;
  //   }
  // }

  .pt-abcard-a{
    @include abcard-ab();
    background-color:$pt-color-primary;
  }

  .pt-abcard-b{
    @include abcard-ab();
    background-color:$pt-color-secondary;
  }  


  @include ptBreakpoint($sm){
    
    flex-direction:row;
    
    &.pt-flipped{
      flex-direction:row-reverse;
    }
    
    .pt-abcard-a{
      width: 50%;
    }
    .pt-abcard-b{
      width: 50%;
    } 
  
  }


}




















/* 
.pt-abcard{

  section > & {
    // position: absolute; top:0; left:0; bottom:0; right:0;
  }

  position:relative;
  margin:0; padding:0;
  
  display: flex;
  flex-direction:row;
  align-items:stretch;
          
  width:100%;
  height:100%;

  // background-color:#fff;

  .pt-abcard-a{
    position:absolute; top:0; left:0; bottom:0; right:0;
    margin:0; padding:0;

    display: flex;
    align-items:stretch;
    flex:1 1 auto;
    z-index:1;
  
    opacity:0.3;
    
    img{
      width:100%;
      height:auto;
    }
  }

  .pt-abcard-b{
    position:relative;
    margin:0; padding:1em;

    display: flex;
    flex-direction:column;
    align-items:stretch;

    flex:1 1 auto;
    z-index:2;

  }


  .pt-flipped & {
    >div:first-child{
      order:1;
    }
  }

  &.pt-flipped {
    >div:first-child{
      order:1;
    }
  }




  @include ptBreakpoint($sm){
    .pt-abcard-txt { 
      width: 70%; 
      padding: 3em;
    }
    .pt-abcard-img { 
      position:relative;
      width: 30%;
      opacity:1;
    }
  }


  @include ptBreakpoint($md){
    .pt-abcard-txt { 
      width: 50%;
      padding: 5em;  
    } 
    .pt-abcard-img { 
      width: 50%; 
    }
  }

}
 */









