



// @include ptViewport(font-size, 5vmin);


#scott_site_navigation{
    ul.menu-lg{
        display:none;
        @include ptBreakpoint($md){
            display:flex;
        }
    }

    ul.menu-sm{
        display:flex;

        @include ptBreakpoint($md){
            display:none;
        }
    }
}







#scott_site_navigation{
    // padding:
    position: absolute;
    z-index:100;
    // top:0;
    // left:0; right:0;
    // float:left;
    width:100%;
    // position: sticky;
    // margin-top:-80vh;
    top:15vh;
    // margin-top:30vh;

    display:flex;
    flex-direction:column;



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    &.isStuck{
        // border-bottom:1px solid red;
        position:fixed;
        left:0; right:0;
        top:0;
        #scott_top_menu{
            // height:100px;
        }

        .scott_logo-sm{
            display:block;
            visibility:visible;
            opacity:1;
            transition:0.5s;
        }

        nav#scott_top_nav{
            // left:0px;
            padding-left:100px;
        }

    }
}



#scott_top_menu{
    position: relative;
    // height:150px;
    background-color:rgba(0,0,0,0.6);
    transition: 0.5s;

}

nav#scott_top_nav {
    // border:1px solid red;

    transition:0.3s;

    display:flex;
    // position: relative;
    // left:-100px;
    padding-left:-100px;

    a, button{
        cursor: pointer;
        text-decoration: none;
        color:rgba(white, 0.8);
        transition: color 0.2s;

        &:hover,&:focus{
            text-decoration: none;
            color:rgba(white, 1);
        }
    }

    .scott_logo-sm{
        position:absolute;
        opacity:0.0;
        visibility:hidden;
        bottom:5px;
        transform:translateX(-100%);
        transition:0.2s;
    }


    ul{
        margin:0;
        padding:0;
        list-style: none;
        display: flex;
        flex-direction: row;
        li{
            // margin:10px;
            padding:10px;
            white-space: nowrap;
        }
    }

}















#scott_side_menu{
    position: absolute;
    top:100px;
    background:$scott-gold;
    width:300px;
    height:100vh;
    transition:0.4s transform;

    &.menu_in{     transform:translateX(0%);        }
    &.menu_out{    transform:translateX(-100%);     }

    nav{

        padding:2em 1em 4em 3em;

        ul{
            list-style-type: none;
            margin:0; padding:0;

            >li{
                padding:0em;
                text-transform: uppercase;
                // border:1px solid blue;
            }
            li{
                li{
                    padding:0.5em;
                    text-transform: capitalize;
                }
            }
            ul{
                padding:0.5em;
            }


        }

        a{
            color:#333;
            display:block;
            width:100%;
            &:hover,&:focus{
                color:#000;
                text-decoration: none;
            }
        }
    }



    // &:after{
    //     content:'';
    //     background-color:green;
    //     position:absolute;
    //     top:0; left:0; bottom:0; right:0;
    //     width:100%; height:100%;
    //
    //     left:100%; width:90vw;
    //
    // }


}


#scott_side_menu_cover{
        // background-color:green;
        // position:absolute;
        // top:0; left:0; bottom:0; right:0;
        // width:100%; height:100%;


        position:fixed; top:0; left:0; bottom:0; right:0;
    	background-color:rgba(black, 0.4);
    	z-index:1000;
    	width:100%;
    	height:100%;

        // display:block;
        opacity:1;
        visibility:visible;
        transition:0.3s;

    	cursor: url('img/close-sm.cur'), auto;

        &.menu_out{
            opacity:0;
            visibility:hidden;
            // display:none;
        }


}
#scott_top_menu,
#scott_side_menu{
    z-index:2000;
}
