

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


//  I WOULD LKE TO REMOVE THESE, BUT THERE MAY BE DEPENDENCIES.. NEED TO LOOK INTO
@import "SITE-VARS";
@import "pt/_PT-MIXINS";
@import "pt/_pt-Library";



// BULK OF THE STYLES ARE HERE:

@import "sasskits/typography";

@import "sasskits/_site-base";



@import "sasskits/ab-sections";
@import "sasskits/pt-ab-section";





@import "sasskits/pt-slicks.scss";
@import "sasskits/pt-navspy.scss";




// NAVIGATION OPTIONS:
// sidr.js BASED SIDE MENU:
// @import "sasskits/sidr/sidr_custom.scss";


// BootStrap BASED TOP MENU:
// @import "sasskits/Navigation-TopBar.scss";


// Multi Level Dropdown Menu:
// @import "sasskits/Navigation-MultiLevelDropdown.scss";


@import "scott-navigation.scss";


@import "sasskits/scott-footer.scss";


// .w-5 {  width:  5%; }
// .w-15 {  width:  15%; }
// .w-25 {  width:  25%; }
// .w-35 {  width:  35%; }
// .w-45 {  width:  45%; }
// .w-55 {  width:  55%; }
// .w-65 {  width:  65%; }
// .w-75 {  width:  75%; }
// .w-85 {  width:  85%; }
// .w-95 {  width:  95%; }


[data-accordion-panel]{

    // max-height:0;
    overflow:hidden;
    transition:0.4s;

    &.active{

    }
}
[data-accordion-button]{
    cursor: pointer;
    display:block;
    &.active{
    }
}
.rod-accordion-btn{
    &.active{
        background-color:$scott-gold;
        color:white;
    }
}






img.series-letter{


      // text-shadow:100px 100px 100px #000000;
      // box-shadow: 6px 4px 10px 10px #000000;

      // filter: url(#drop-shadow);

}



// #g-series-letter{
.series-letter{
    object-fit: contain;
    width:100%;
    // height:auto !important;
    height:100% !important;

    -webkit-filter: drop-shadow(1px 1px 20px rgba(0,0,0,1));
    filter: drop-shadow(1px 1px 20px rgba(0,0,0,1));

    margin:auto;
    position: relative;
    display: block;

    mix-blend-mode: overlay;//multiply;//color-burn;

}





a.btn{
    background-color:$scott-gold;
    color:white;
    padding:0.5em 0.5em;
    margin:0 1em;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,&:focus{
        background-color:black;
    }

}


.rod-logo{
    display:block;
    position:relative;
    width:50%;
    max-width:300px !important;
    margin:0.5em auto 1em auto;
    // border:1px solid ;
}








#scott_homeplate{
    position: relative;
    width:100%;
    overflow:hidden;

    #homeplate_slick-imgs{
        position: relative;
        z-index: 2;
        margin:0;
    }

    .shp-slide{
        position: relative;
        top:0; left:0; bottom:0; right:0;
        width:100vw; height:100vh;

        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .shp-bgs{
            position: absolute;
            top:0; left:0; bottom:0; right:0;
            width:100%; height:100%;
            z-index: 2;

        }
        .shp-titles{
            position: absolute;
            top:50%;
            left:50%;
            width:90%;
            max-width:800px;
            transform:translate(-50%, -50%);
            z-index: 5;
            text-align: center;
            color:white;
        }
    }
}


//


._inner{
    position: relative;
    // max-width:800px;
    width:100%;
    padding:0 2em;
    margin:auto;
}

.scrollY{
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    width:100%; height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
}












// img[class^="scott_logo"] {
//     display:block;
//     border:1px dashed purple;
//     width:auto;
//     height:auto;
//     // max-width:300px;
//
//     &[class$="-sm"]{
//         border-color:green;
//     }
//     &[class$="-lg"]{
//
//     }
// }




img.scott_logo-sm{
    width:100px;
    height:auto;
    display:block;
    visibility:visible;
    opacity:1;
    transition:0.5s;
}

img.scott_logo-lg{

    display:block;
    margin:10px 0 0 0;
    width:300px;
    max-width:85vw;
}
