

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


//  I WOULD LKE TO REMOVE THESE, BUT THERE MAY BE DEPENDENCIES.. NEED TO LOOK INTO
@import "SITE-VARS";
@import "pt/_PT-MIXINS";
@import "pt/_pt-Library";



// BULK OF THE STYLES ARE HERE:

@import "sasskits/typography";

@import "sasskits/_site-base";



@import "sasskits/ab-sections";
@import "sasskits/pt-ab-section";





@import "sasskits/pt-slicks.scss";
@import "sasskits/pt-navspy.scss";




// NAVIGATION OPTIONS:
// sidr.js BASED SIDE MENU:
// @import "sasskits/sidr/sidr_custom.scss";


// BootStrap BASED TOP MENU:
// @import "sasskits/Navigation-TopBar.scss";


// Multi Level Dropdown Menu:
// @import "sasskits/Navigation-MultiLevelDropdown.scss";


@import "scott-navigation.scss";


@import "sasskits/scott-footer.scss";


// .w-5 {  width:  5%; }
// .w-15 {  width:  15%; }
// .w-25 {  width:  25%; }
// .w-35 {  width:  35%; }
// .w-45 {  width:  45%; }
// .w-55 {  width:  55%; }
// .w-65 {  width:  65%; }
// .w-75 {  width:  75%; }
// .w-85 {  width:  85%; }
// .w-95 {  width:  95%; }


[data-accordion-panel]{

    // max-height:0;
    overflow:hidden;
    transition:0.4s;

    &.active{

    }
}
[data-accordion-button]{
    cursor: pointer;
    display:block;
    &.active{
    }
}
.rod-accordion-btn{
    &.active{
        background-color:$scott-gold;
        color:white;
    }
}
// .accordion-button {
//     cursor: pointer;
// }
// .accordion-content {
//     display: none;
// }
// .accordion-content.default {
//     display: block;
// }
