





@import "pt/_PT-MIXINS";






$pt-color-primary	:	brown	    ; 
$pt-color-secondary	:	lightblue	; 
$pt-color-highlight	: 	orange 	    ; 



$pt-color-white		: #fff		;
$pt-color-offwhite	: #fdf6ee 	;
$pt-color-black		: #000		;




// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/*     NAVIGATION - TOPBAR #pt-topbar:     */

// QUICK CONTACT IS ABOVE THE ACCTUAL TOPBAR MENU :
$quick-contact-height:3em;
$quick-contact-bg: #e1e1e1;

// TOPBAR BG COLOR:
// $nav-bgcolor: rgba(0,0,0,0.9);
$nav-bgcolor: rgba($pt-color-primary ,0.9);

// HIGHLIGHT COLOR:
$nav-btn-highlight: $pt-color-highlight;

// THE HEIGHT OF THE TOP BAR
$sitenav-height: 80px;



 

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/*    SIDR.js   SIDE MENU    */

// COLORS FOR SIDR MENU
$sidr-background: $pt-color-primary;
$sidr-text-color: #fff;

// WIDTH OF OPEN SIDR MENU
$sidebar-width: 300px;
$sidebar-width-neg: -$sidebar-width;

// PAGE COVERS DURING OPEN SIDR
$sidr-cover-color: rgba(0,0,0,0.8);

// HEIGHT OF TOPBAR
$sidr-topbar-height: 70px;

$sidr-topbar-background: $pt-color-primary;
$sidr-topbar-text: #fff;
















































/* 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*
*
*

    ########  ########         ########  #######  ########  ########     ###    ########  
    ##     ##    ##               ##    ##     ## ##     ## ##     ##   ## ##   ##     ## 
    ##     ##    ##               ##    ##     ## ##     ## ##     ##  ##   ##  ##     ## 
    ########     ##    #######    ##    ##     ## ########  ########  ##     ## ########  
    ##           ##               ##    ##     ## ##        ##     ## ######### ##   ##   
    ##           ##               ##    ##     ## ##        ##     ## ##     ## ##    ##  
    ##           ##               ##     #######  ##        ########  ##     ## ##     ## 

    NAVIGATION - TOPBAR #pt-topbar:
*
* 
*/
 
/* 
$quick-contact-height:3em;
$quick-contact-bg: #e1e1e1;

$nav-bgcolor: rgba(0,0,0,0.9);
// $nav-bgcolor: rgba($pt-color-primary ,0.9);


$nav-btn-highlight: $pt-color-highlight;
 
$sitenav-height: 80;
 */



#pt-topbar {

    background-color:transparent;
    background-color:rgba($nav-bgcolor, 0.2);

    &.bg-solid{
        background-color:$nav-bgcolor !important;
    }

    &.is-fixed-top{
        position:fixed;
        top:0;
    }

    .has-quick-contact{
        top:$quick-contact-height;
    } 

    .has-quick-contact &.is-fixed-top{
        top:$quick-contact-height;
    } 

    &.nav-is-open{
        background-color:$nav-bgcolor;
    }
 
    // .pt-container{
        @include ptBreakpoint($sm){
            #navbar{
                ul.nav{
                    >li{
                        a{
                            height:$sitenav-height;
                            line-height:$sitenav-height * 0.8;
                        }
                    }
                }
            }
        }
    // }

    .navbar-header {

        // The MENU button:
        .navbar-toggle{

            color:white;
            background-color:$nav-btn-highlight;

            &:hover,&:focus{
                color:white;
                background-color:lighten($nav-btn-highlight, 5%);
            }
        }
    }

    #navbar{

        li > a{
            border:1px solid transparent;
            &:hover{
                background-color:rgba($nav-btn-highlight, 0.5);
            }
            &.active{
                background-color:$nav-btn-highlight;
            }
        }

        li.open > a{
            background-color: $nav-btn-highlight;
        }

        li.active a{
            background-color:$nav-btn-highlight;
        }
    }

    .dropdown-menu{
        background-color: rgba($nav-bgcolor, 0.98);
    }
}


.pt-quick-contact{

    height:$quick-contact-height;

    background-color:$quick-contact-bg;

    h1,h2,h3,h4,h5,h6{
        color:$pt-color-offwhite;
    }

    .social-media-icons{
        li {
            a{      
                color:white;
                background-color:$pt-color-primary;
                &:hover, &:focus {
                    color:white;
                    background-color: $pt-color-highlight;
                }
            }
        }
    }
}






















































/* 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*
*
* 
    
     ######  #### ########  ########     ########     ###    ########  
    ##    ##  ##  ##     ## ##     ##    ##     ##   ## ##   ##     ## 
    ##        ##  ##     ## ##     ##    ##     ##  ##   ##  ##     ## 
     ######   ##  ##     ## ########     ########  ##     ## ########  
          ##  ##  ##     ## ##   ##      ##     ## ######### ##   ##   
    ##    ##  ##  ##     ## ##    ##     ##     ## ##     ## ##    ##  
     ######  #### ########  ##     ##    ########  ##     ## ##     ## 

    SIDR.js   SIDE MENU 
*
*
*
*
* 
*/


/* 
// Colors
$sidr-background: $pt-color-primary;
$sidr-text-color: #fff;

// Width
$sidebar-width: 300px;
$sidebar-width-neg: -$sidebar-width;

$sidr-cover-color: rgba(0,0,0,0.8);

$sidr-topbar-height: 70px;
 */


    .sidr{

    }

    #sidr-topbar {

        .js & {
            height:$sidr-topbar-height;
        }

        background-color:$sidr-background;
    }


      
    #sidr-menu-btn{
        background-color:darken($sidr-background, 10%);
        width:$sidr-topbar-height;
        height:$sidr-topbar-height;
        
        &:hover, &:focus{
            text-decoration: none;
            background-color:darken($sidr-background, 30%);
        }
    }



    #sidr-close-btn{
        right:$sidebar-width;
        height:$sidr-topbar-height;
        width:$sidr-topbar-height;
        background-color:darken($sidr-background, 10%);
        
        &:hover, &:focus{
            background-color:darken($sidr-background, 30%);
        }
    }








    #pt-sidr{

        background-color:$sidr-background;
        
        a{
            color:white;
            &:hover, &:focus{
                color:blue;
            }
        }

        .contact-links{
            min-height:$sidr-topbar-height;
            a{
                &:hover, &:focus{
                    background-color:darken($sidr-background, 10%);
                }
            }
        }

        .caret{
            border-top-color:$sidr-text-color;
        }

        
        nav ul {
            border-top: 1px solid darken($sidr-background, 10%);
            border-bottom: 1px solid lighten($sidr-background, 10%);

            li {
                border-top: 1px solid lighten($sidr-background, 10%);
                border-bottom: 1px solid darken($sidr-background, 10%);

                &:hover{
                    background-color:darken($sidr-background, 10%);

                    ul{
                        background-color:darken($sidr-background, 10%);

                        li{
                            background-color:darken($sidr-background, 10%);
                            &:hover{
                                background-color:darken($sidr-background, 15%);
                            }
                        }
                    }
                }
                ul li:last-child {
                    border-bottom:0;                    
                }
            }
        }

        a { 
            color: $pt-color-white;
            &:hover,&:focus {
                // color: lighten($pt-color-highlight, 10%);
            }
        }



        ul {
            ul{
                background-color: darken($sidr-background, 5%); 
                ul{
                    background-color: darken($sidr-background, 8%);
                }
            }
        }   

    }






    .sidr-cover{
        background-color:$sidr-cover-color;
    }


    



    #sidr-topbar nav {
        ul {
            background-color: $sidr-topbar-background;
            ul{
                background-color: darken($sidr-topbar-background, 8%); 
                ul{
                    background-color: darken($sidr-topbar-background, 10%);
                }
            }

            li {
                a{
                    color: $sidr-topbar-text;
                }
            }
        }
    }





























































/* 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*
*
*

    ########   #######   #######  ########  ######  ######## ########     ###    ########  
    ##     ## ##     ## ##     ##    ##    ##    ##    ##    ##     ##   ## ##   ##     ## 
    ##     ## ##     ## ##     ##    ##    ##          ##    ##     ##  ##   ##  ##     ## 
    ########  ##     ## ##     ##    ##     ######     ##    ########  ##     ## ########  
    ##     ## ##     ## ##     ##    ##          ##    ##    ##   ##   ######### ##        
    ##     ## ##     ## ##     ##    ##    ##    ##    ##    ##    ##  ##     ## ##        
    ########   #######   #######     ##     ######     ##    ##     ## ##     ## ##        

    BOOTSTRAP BUTTON / LINK / NAV STYLES
*
*
*
*
 */

a { 
    color: $pt-color-primary;
    &:hover,&:focus {
        color: lighten($pt-color-primary, 10%);
    }
}

.btn-primary{
    color:$pt-color-white;
    background-color: $pt-color-primary;

    &:hover, &:focus, &:active, &.active {
        color: $pt-color-primary;
        background-color:desaturate(lighten($pt-color-primary, 70), 30);
        border-color: $pt-color-primary;
    }
}

.nav-pills > li > a {
    border:1px solid $pt-color-primary;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    color:$pt-color-white;
    background-color:$pt-color-primary;
}





ul.nav {

    li{
        &.active{
            a{
                color:white;
                background-color:$pt-color-primary;
                &:hover, &:focus, &:active, &:focus{
                    color:white;
                    background-color:$pt-color-highlight;
                }   
            }
        }
        a{
            color:$pt-color-primary;
            &:hover, &:focus, &:active, &:focus{
                color:white;
                background-color:$pt-color-primary;
            }   
        }
    }
}















































/* 
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*
*
*


########  ########     ##    ##    ###    ##     ## ########     ###    ########  
##     ##    ##        ###   ##   ## ##   ##     ## ##     ##   ## ##   ##     ## 
##     ##    ##        ####  ##  ##   ##  ##     ## ##     ##  ##   ##  ##     ## 
########     ##        ## ## ## ##     ## ##     ## ########  ##     ## ########  
##           ##        ##  #### #########  ##   ##  ##     ## ######### ##   ##   
##           ##    ### ##   ### ##     ##   ## ##   ##     ## ##     ## ##    ##  
##           ##    ### ##    ## ##     ##    ###    ########  ##     ## ##     ##
    
    BASIC NAVBAR
*
*
*
*
 */




.pt-navbar{
    background-color:$pt-color-white;
    li{
        a{ 
            color:$pt-color-primary;

            &:hover, &:focus, &:active, &:focus{
                color:$pt-color-white;
                background-color:$pt-color-primary;
            }   
        }


        &.active{
            a{
                color:$pt-color-white;
                background-color:$pt-color-primary;
                &:hover, &:focus, &:active, &:focus{
                    color:$pt-color-white;
                    // background-color:$pt-color-highlight;
                    background-color: darken($pt-color-primary, 10%);
                }  
            }
        }
    }
}




















