

// COLORS:



$pt-color-primary	:	cadetblue ; // forestgreen	; 
$pt-color-secondary	:	tan	; 
$pt-color-highlight	: 	orangered 	; 




$pt-color-white		: #fff		;
$pt-color-offwhite	: #fdf6ee 	;
$pt-color-black		: #000		;



// $pt-color-gray-light:		#eeeeee	;
// $pt-color-gray-mid:			#a9a9a9	;
// $pt-color-gray-dark:		#333333 ;



// $pt-text-color-light	: #999		;
// $pt-text-color-mid		: #333743 	;
// $pt-text-color-dark		: #656b6f 	;



// $pt-text-color : $pt-text-color-mid ;



// $pt-bg-light 	:	$pt-color-gray-light 	; 			
// $pt-bg-mid 		:	$pt-color-gray-mid 		; 	
// $pt-bg-dark 	    :	$pt-color-gray-dark		; 	







 // $pt-sidr-background : $pt-color-primary;








// PAGETREE CMS IMAGE PATH: /app/webroot/userfiles/###/Image/
// Example of how to use -- background: url("#{$img-url}/background-image.png") repeat top left;
$img-url: "./img/";
// $img-url: "/app/webroot/userfiles/284/File/assets/img/";




$fonts-url: "./assets/fonts/";
// $img-url: "/app/webroot/userfiles/284/File/assets/fonts/";

 





$pt-maxwidth: 1400px;

$pt-max: ( min: $pt-maxwidth );









 

// -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-






// -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-


























