
// Fonts
// $sidr-font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
$sidr-font-size: 15px;


// Colors
$sidr-background: $pt-color-primary;

$sidr-background-shadow-color: #222;
$sidr-text-color: #fff;
$sidr-box-shadow-color: #000;
$sidr-input-background-color: #000;


// Width
$sidebar-width: 300px;
$sidebar-width-neg: -$sidebar-width;


$sidr-cover-color: rgba(0,0,0,0.8);


$topbar-height: 80px;


$sidr-topbar-background: $pt-color-primary;
$sidr-topbar-text: #fff;



@import 'sidr_base';





@media screen and ( min-height: 600px ){
	#sidr-topbar{
		// position:fixed;
	}
}





#sidr-menu-btn{

	.js &{
		@include ptBreakpoint($md){
			display:none;
		}
	}
}


#sidr-topbar nav {

	display:none;

	@include ptBreakpoint($md){
	    display:flex;
	    flex-direction: row;
	    justify-content: flex-start;
	    flex-wrap:nowrap;
	}

}











.sidr{
	background-color:$sidr-background;
}




// #site-topbar
#sidr-topbar {

	.js & {
		height:$topbar-height;
		display:flex;
		// justify-content:flex-end;
		// justify-content:flex-start;
		align-content:center;
		align-items:center;
	
		&.left{
			justify-content:flex-start;
		}
		&.right{
            // justify-content:flex-end;
			justify-content:space-between;
		}
	}

	background-color:$sidr-background;
	// height:100px;
	width:auto;

	width:100%;
	z-index:1001;


	.logoholder{
		// width:200px;
		height:auto;
		margin-right:2em;
		margin-left:2em;

		// position:absolute;
		// right:0;
		// top:50%;
		// transform:translateY(-50%);
		// display:none;

		.sidr-closed & {
			// display:block;
		}

		.sidr-open & {
			// display:none;
		}
		
		// .left & {
		// 	border:1px solid green;
		// }

		// .right & {
		// 	border:1px solid yellow;
		// }
 

		@include ptBreakpoint($sm){
		// 	display:block;
			// margin-right:5em;
		
			.sidr-closed &,
			.sidr-open & {
				display:block;
			}

		}
		
		img{
			position:relative;
			display: block;
			width:100%;
			height:auto;
		}

	}


	
	nav{
		ul{
			li{
			}
		}
	}






}









// THESE ARE AUTOMATIC FROM THE SIDR PLUGGIN:
body{
  &.sidr-closed{
  }
  &.sidr-open{
  }
}





  
#sidr-menu-btn{

	display:none;

	.js & {
		display:flex;
	  	justify-content:center;
	  	align-content:center;
	  	align-items:center;
	}

    #sidr-topbar & {
        position:absolute;
    }


	position:fixed;
	top:0;
	background-color:darken($sidr-background, 10%);

	&.left{
		left:0;
	}
	&.right{
		right:0;
	}


	width:$topbar-height;
	height:$topbar-height;
	

	padding:1em;
	font-size:2em;

	z-index:1002;

	color:white;

	transition:0.1s;

	&:hover, &:focus{
		text-decoration: none;
		background-color:darken($sidr-background, 30%);
	}

	@include ptBreakpoint($lg){
		display:none;
	}

}







#sidr-close-btn{

	position:fixed;
	right:$sidebar-width;
	top:0;
	z-index:1002;
	height:$topbar-height;
	width:$topbar-height;
	display:flex;
	justify-content:center;
	align-items:center;

	#sidr-main &{
		position:relative;
		float:right;
		top:0;
		right:initial;
		height:auto;
		width:auto;
	}
	
	padding:0.5em 0.5em 0.5em 0.5em;
	background-color:darken($sidr-background, 10%);
  
	font-size:1.5em;

	color:white;

	transition:0.1s;

	
	&:hover, &:focus{
		text-decoration: none;
		background-color:darken($sidr-background, 30%);
	}

	// @include ptBreakpoint($sm){
		// font-size:1em;
	// }

	// @include ptBreakpoint($lg){
		// display:none !important;
	// }

	visibility:hidden;
	opacity:0;

	&.show{
		visibility:visible;
		opacity:1;
	}
	
}





#pt-sidr nav{
	ul ul ul >li{
		padding-left:1em;
	}		

	


}




#pt-sidr{

	background-color:$sidr-background;
	padding-bottom:1em;
	
	a{
		color:white;
		&:hover, &:focus{
			// color:$bci-blue;
		}
	}

	.js & {
		a{
			color:white;
			&:hover, &:focus{
				color:white;
			}
		}
	}



	.logoholder{

		position: relative;
		margin:auto;
		width:100%;
		max-width:300px;
		padding:1em;

		img{
			width:100%;
			height:auto;
		}

		@include ptBreakpoint($sm){
			display:none;
		}
	}



	.contact-links{
	  
		padding:0.5em 0;

		min-height:$topbar-height;

		display:flex;
		flex-direction:row;
		justify-content:center; 

		a{
			padding:0.5em 1em;
			margin:1em auto;
			color:white;
			// border-radius:2em;

			&:hover, &:focus{
		  		// background-color:darken($sidr-background, 10%);
		  		background-color:rgba(0,0,0,0.2);
			}
		}
	}
	
	
	.caret{
		border-top-color:$sidr-text-color;
		transition:0.1s;
		transform:rotate(-90deg);
	}
	
	.open > a > .caret{
		transform:rotate(0);
	}
	
 
    ul {
		// background-color: $sidr-background;
        ul{
			background-color: darken($sidr-background, 5%); 
            ul{
				background-color: darken($sidr-background, 8%);
            }
        }
    }	



}






.sidr-cover{

	position:fixed; top:0; left:0; bottom:0; right:0;
	background-color:$sidr-cover-color;
	z-index:1000;
	width:100%;
	height:100%;
	opacity:0;

	visibility:hidden;

	cursor: url($img-url + 'close-lg.cur'), auto;  

}


 




.scrollzone{
	position: absolute;
	top:0; right:0; 
	width:4em; 
	background-color:rgba(0,0,0,0.1);
	z-index:98;

	display:flex;

}







// .caret{
// 	transform:rotate(-90deg);
// 	transition:0.2s;
// 	.open & {
// 		transform:rotate(0);
// 	}
// }


















// $thisColor: $pt-color-primary;

// $thisTextColor: #fff;





#sidr-topbar nav {

	// display:none;

	// @include ptBreakpoint($md){
	    display:flex;
	    flex-direction: row;
	    justify-content: flex-start;
	    flex-wrap:nowrap;
	// }

    												// background-color: $thisColor;


    ul ul ul{
        left: 100%;
        top: 0;
    }

	ul>li>a>.caret{
		transform:rotate(-90deg);
	}
	>ul>li>a>.caret{
		transform:rotate(0deg);
	}


	// >ul>li>a>.caret{
	// 	transform:rotate(0deg);
	// }


    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        											background-color: $sidr-topbar-background;
        ul{
									            	background-color: darken($sidr-topbar-background, 8%); 
            ul{
									                background-color: darken($sidr-topbar-background, 10%);
            }
        }

        li {
            display: block;
            position: relative;
            float: left;
            
            // &.active{
            //     >a{
            //     }
            // }
			
            a{
                display: block;
                padding: 1em;
                text-decoration: none;
                white-space: nowrap;
                									transition:0.2s;
                									color: $sidr-topbar-text;
									            	background-color:rgba(0,0,0,0);
                
                &:hover, &:focus{
									            	background-color:rgba(0,0,0,0.2);
                }
            }

            ul{
                display:none;
                min-width:100%;
            }

            &:hover, &:focus{
                >ul{
                    display:block;
                    position:absolute;
                }

                li{
                    float:none;
                    &:hover, &:focus{
                        >ul{
                        }
                    }
                }

                a{
                    &:hover, &:focus{  
                    }
                }
            }
        }



    }







/* 
    // ~~~~~~~~~~~~~~~~~~~~~~ LEFT :
    &.left {



        ul li {
            &:hover, &:focus{
                >ul{
                    display:block;
                    position:absolute;
                }

                li{
                    float:none;

                    &:hover, &:focus{
                        >ul{
                        }
                    }
                }
            }
        }
    }





    // ~~~~~~~~~~~~~~~~~~~~~~ RIGHT :
    &.right {

        .logoholder{
            position:absolute; 
            left:0;
        }

        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap:nowrap;

        ul li {
            &:hover, &:focus{
                >ul{
                    display:block;
                    position:absolute;
                    left:-70%;
                }

                li{
                    float:none;

                    &:hover, &:focus{
                        >ul{
                            left:-110%;
                        }
                    }
                }
            }
        }
    }


 */








    // CLEARFIX:
    ul{    
        &:before,
        &:after {
            content: " "; 
            display: table;
        }

        &:after { 
            clear: both; 
        }
    }









}





















.js{


	#sidr-menu-btn,
	#sidr-close-btn,
	#pt-sidr,
	.sidr-cover{
		@include ptBreakpoint($md){
			display:none;
		}

	}

	#sidr-topbar nav {
		
		display:none;

		@include ptBreakpoint($md){
		    display:flex;
		    flex-direction: row;
		    justify-content: flex-start;
		    flex-wrap:nowrap;
		}
	}
	
}































