

$scott-gold: #ebaf45;

$scott-lightgray: #cbcccb;
$scott-midgray: #8a8b8a;
$scott-darkgray: #50504d;

$scott-brown: #875a3a;
$scott-white: #ffffff;
$scott-black: #000000;

$scott-maxwidth: 1600px;


body{
  margin:0;
  padding:0;
}

// BASIC FUCK-OFF-BOOTSTRAP STYLE-OVERWRITES:
// .container{
//     width:100%;
//     // max-width:1500px;
//     margin:auto;
//     padding:0;
//
//     .row{
//         padding:0em;
//         margin:0em;
//     }
// }

.pt-sizer{
    z-index:999999;
}

// .viewport{
//     // position:relative;
// }

.pt-container{
    width:100%;
    max-width:$scott-maxwidth;
    // max-width:initial;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    padding:0;
}

// .pt-fixed{
//     position:fixed;
//     top:0; left:0; bottom:0; right:0;
// }






// .bg-red{
//     @include ptZoneColors( indianred, #ffffff, #000 );
// }
//
// .bg-green{
//     @include ptZoneColors( lightgreen, #ffffff, #000 );
// }
//
// .bg-blue{
//     @include ptZoneColors( lightblue, #ffffff, #000 );
// }
//
// .bg-orange{
//     @include ptZoneColors( orange, #ffffff, #000 );
// }
//
// .bg-grey{
//     @include ptZoneColors( lightgrey, #000, #000 );
// }
//
// .bg-black{
//     @include ptZoneColors( black, white, white );
// }
//
// .bg-white{
//     @include ptZoneColors( white, black, black );
// }




.bg-midgray{
   background:$scott-midgray;
}
.bg-lightgray{
    background:$scott-lightgray;
}
.bg-darkgray{
   background:$scott-darkgray;
}
.bg-brown{
    background:$scott-brown;
}
.bg-lightgray-alpha{
    background:rgba($scott-lightgray, 0.8);
}

.border-gold{
    border:2px solid $scott-gold;
}
.txt-gold{
    color:$scott-gold;
}
.txt-white{
    color:$scott-white;
}
.txt-black{
    color:$scott-black;
}
.bg-black-alpha{
    background:rgba($scott-black, 0.7);
}
.txt-midgray{
    color:$scott-midgray;
}
.txt-lightgray{
    color:$scott-lightgray;
}
.txt-darkgray{
    color:$scott-darkgray;
}
.txt-brown{
    color:$scott-brown;
}


@mixin btn{
    display: inline-block;
    // width:auto;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 0.5em 1em;
    margin: 0.5em;
}
.btn{
    @include btn();
}

.btn-gold{
    @include btn();
    color:brown;
    background-color:rgba(gold, 0.9);
    transition:0.3s;
    &:hover,&:focus{
        background-color:rgba(gold, 1);
    }
}
















.img-responsive{
    width:100%;
    height:auto;
}



.scrollX{
    overflow-x: scroll;
    // overflow-y: hidden;
}

.instagram-feed{
    border:1px solid green;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}











.rodbox{
    position: relative;
    display:block;
    border:1px solid black;
    background:$scott-lightgray;
    &:before{
        content:'';
        position: absolute;
        top:0; left:0; bottom:0; right:0;
        width:100%; height:100%;
        background:$scott-gold;
        opacity:0;
        transition:0.3s;
        pointer-events: none;
    }
    &:hover, &:focus{
        &:before{
            opacity:0.6;
        }
    }

    >a{
        text-decoration: none;
    }
}
.rodbox_img{
    width:100%;
    height:auto;
}
.rodbox_txt{
    text-align: center;
    color:$scott-white;
    padding:0.3em 0.5em;
    >img{
        max-width: 100%;
        margin:0 1em;
    }
    h2,h3,h4,h5,h6{
        margin:0;
    }
}

















#rods-hero{

}



















footer.site-footer{

    background-color:$scott-lightgray;

    p{
        font-family:Arial;
        font-size:12px;
    }

    nav{
        width:100%;

        ul{
            margin:0.5em 1em;
            padding:0;
        }

        li{
            margin:0;
            padding:0;
            list-style: none;

        }


        >ul{
            width:100%;
            padding:1em;
            margin:0;
            display:flex;
            flex-direction:row;
            flex-wrap:wrap;
            justify-content: space-between;

            >li{
                text-transform: uppercase;
                font-family: Impact, "sans serif";
                flex:1 1 auto;
                max-width:200px;
                ul{
                    text-transform: none;
                    font-family:Arial;
                }

            }

        }


        @include ptBreakpoint($sm){

        }




    }



}
