


body{
  margin:0;
  padding:0;
}

// BASIC FUCK-OFF-BOOTSTRAP STYLE-OVERWRITES:
// .container{
//     width:100%;
//     // max-width:1500px;
//     margin:auto;
//     padding:0;
//
//     .row{
//         padding:0em;
//         margin:0em;
//     }
// }

.pt-sizer{
    z-index:999999;
}

// .viewport{
//     // position:relative;
// }

.pt-container{
    width:100%;
    max-width:$scott-maxwidth;
    // max-width:initial;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    padding:0;
}

// .pt-fixed{
//     position:fixed;
//     top:0; left:0; bottom:0; right:0;
// }






// .bg-red{
//     @include ptZoneColors( indianred, #ffffff, #000 );
// }
//
// .bg-green{
//     @include ptZoneColors( lightgreen, #ffffff, #000 );
// }
//
// .bg-blue{
//     @include ptZoneColors( lightblue, #ffffff, #000 );
// }
//
// .bg-orange{
//     @include ptZoneColors( orange, #ffffff, #000 );
// }
//
// .bg-grey{
//     @include ptZoneColors( lightgrey, #000, #000 );
// }
//
// .bg-black{
//     @include ptZoneColors( black, white, white );
// }
//
// .bg-white{
//     @include ptZoneColors( white, black, black );
// }




.bg-midgray{
   background:$scott-midgray;
}
.bg-lightgray{
    background:$scott-lightgray;
}
.bg-darkgray{
   background:$scott-darkgray;
}
.bg-brown{
    background:$scott-brown;
}
.bg-lightgray-alpha{
    background:rgba($scott-lightgray, 0.8);
}

.border-gold{
    border:2px solid $scott-gold;
}
.txt-gold{
    color:$scott-gold;
}
.txt-white{
    color:$scott-white;
}
.txt-black{
    color:$scott-black;
}
.bg-black-alpha{
    background:rgba($scott-black, 0.7);
}
.txt-midgray{
    color:$scott-midgray;
}
.txt-lightgray{
    color:$scott-lightgray;
}
.txt-darkgray{
    color:$scott-darkgray;
}
.txt-brown{
    color:$scott-brown;
}


@mixin btn{
    display: inline-block;
    // width:auto;
    cursor: pointer;
    outline: 0;
    border: 0;
    padding: 0.5em 1em;
    margin: 0.5em;
}
.btn{
    @include btn();
}

.btn-gold{
    @include btn();
    color:brown;
    background-color:rgba(gold, 0.9);
    transition:0.3s;
    &:hover,&:focus{
        background-color:rgba(gold, 1);
    }
}















.img-responsive{
    width:100%;
    height:auto;
}



.scrollX{
    overflow-x: scroll;
    // overflow-y: hidden;
}

.instagram-feed{
    border:1px solid green;
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}











.rodbox{
    position: relative;
    display:block;
    border:1px solid black;
    background:$scott-lightgray;
    &:before{
        content:'';
        position: absolute;
        top:0; left:0; bottom:0; right:0;
        width:100%; height:100%;
        background:$scott-gold;
        opacity:0;
        transition:0.3s;
        pointer-events: none;
    }
    &:hover, &:focus{
        &:before{
            opacity:0.6;
        }
    }

    >a{
        text-decoration: none;
    }
}
.rodbox_img{
    width:100%;
    height:auto;
}
.rodbox_txt{
    text-align: center;
    color:$scott-white;
    padding:0.3em 0.5em;
    >img{
        max-width: 100%;
        margin:0 1em;
    }
    h2,h3,h4,h5,h6{
        margin:0;
    }
}

















#rods-hero{

}





//
// .panel {
//     padding: 0 18px;
//     background-color: white;
//     max-height: 0;
//     overflow: hidden;
//     transition: max-height 0.2s ease-out;
// }


button.scrollX-btn{
        width:5%;
        height:53%;
border:0;
outline:0;
        background:rgba(black, 0.5);
        color:white;
        font-size:1rem;
        z-index: 5;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &[data-left]{
            position:absolute; top:0; left:0;
        }
        &[data-right]{
            position:absolute; top:0; right:0;
        }
}

.rodnav{
    // overflow-y:hidden;
    // overflow-x:scroll;
    // overflow:visible;
    position: relative;

.slick-dots{
    display: none !important;
}
.slick-arrow{
    height:53% !important;
    top:0px;
    transform:none;
    background-color: black !important;
    color:white !important;
    &:before, &:after{
        font-size:40px !important;
    }
}
    z-index: 99;

    // &:before, &:after{
    //     width:5%;
    //     height:53%;
    //
    //     background:rgba(black, 0.5);
    //     color:white;
    //     font-size:1rem;
    //     z-index: 5;
    //     text-align: center;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    // &:before{ content:"<"; position:absolute; top:0; left:0; }
    // &:after{ content:">"; position:absolute; top:0; right:0;  }

    .scrollX{
        width:90%;
        padding:0;
        margin:auto;
        position: relative;
    }

    ul{
        // position: relative;
        list-style: none;
        display: flex;
        flex-direction: row;
        // flex-wrap:nowrap;
        width:100%;
        padding:0;
        margin:0;
        // left:50%;
        // z-index: 1;

    }
    li{
        flex:1 0 150px;
    }

    .rodnav_btn{
        position: relative;
        display:block;
        overflow:visible;
        text-align: center;
        position: relative;
        text-decoration: none;
        // background-color: $scott-gold;
        color:$scott-darkgray;

        // height:40px;
        width:150px;
        height:75px;
// margin-bottom:-25px;

        &.active,
        &:hover, &:focus{
            .rodnav_info{
                opacity:1;
                color:rgba($scott-darkgray,1);
                top:0;
                background-color:$scott-gold;
            }
        }

    }
    .rodnav_name{
        @include fontHeader();
        position: relative;
        display:block;
        font-size:1.2rem;
        color:$scott-brown;
        z-index: 2;
        top:0.5em;
    }

    .rodnav_info{
        @include fontBody();
        font-size:1rem;

        border-left:1px solid white;
        border-right:1px solid white;
        background-color: $scott-lightgray;
        z-index: 1;
        display:flex; flex-direction:column; justify-content: flex-end;
        font-size:1rem;
        // opacity:0;
        transition:0.2s;


        color:rgba($scott-darkgray,0);
        position:absolute;
        left:0; right:0;
        // bottom:0px;
        top:-35px;
        width:100%;
        height:75px;
        padding:5px;




    }

}
