


 


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
  margin:0;
  padding:0;
}
 
// BASIC FUCK-OFF-BOOTSTRAP STYLE-OVERWRITES:
.container{
    width:100%;
    // max-width:1500px;
    margin:auto;
    padding:0;
    .row{
        padding:0em;
        margin:0em;
    }
}



.pt-sizer{
    z-index:999999;
}


.viewport{
    // position:relative;
}
   

.pt-container{
    width:100%;
    max-width:1600px;
    // max-width:initial;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    padding:0;

}






.pt-fixed{
    position:fixed;
    top:0; left:0; bottom:0; right:0;
}




.pt-bg-fixed{
    // position:fixed;
    // top:0; left:0; bottom:0; right:0;
}



.pt-section{
  // z-index:50;
}






.bg-red{
    @include ptZoneColors( indianred, #ffffff, #000 );
}

.bg-green{
    @include ptZoneColors( lightgreen, #ffffff, #000 );
}

.bg-blue{
    @include ptZoneColors( lightblue, #ffffff, #000 );
}

.bg-orange{
    @include ptZoneColors( orange, #ffffff, #000 );
}

.bg-grey{
    @include ptZoneColors( lightgrey, #000, #000 );
}

.bg-black{
    @include ptZoneColors( black, white, white );
}

.bg-white{
    @include ptZoneColors( white, black, black );
}







.bg-r1.bg-r1{
    background-image:url('http://lorempixel.com/400/300/abstract/1/');
    background-position:center;
    background-size:cover;

    @include ptBreakpoint($sm){
        background-image:url('http://lorempixel.com/800/600/abstract/1/');
    }

    @include ptBreakpoint($md){
        background-image:url('http://lorempixel.com/1200/1000/abstract/1/');
    }

    @include ptBreakpoint($lg){
        background-image:url('http://lorempixel.com/1800/1400/abstract/1/');
    }
}


.bg-r2.bg-r2{
    background-image:url('http://lorempixel.com/400/300/nature/2/');
    background-position:center;
    background-size:cover;

    @include ptBreakpoint($sm){
        background-image:url('http://lorempixel.com/800/600/nature/2/');
    }

    @include ptBreakpoint($md){
        background-image:url('http://lorempixel.com/1200/1000/nature/2/');
    }

    @include ptBreakpoint($lg){
        background-image:url('http://lorempixel.com/1800/1400/nature/2/');
    }
}

.bg-r3.bg-r3{
    background-image:url('http://lorempixel.com/400/300/cats/3/');
    background-position:center;
    background-size:cover;

    @include ptBreakpoint($sm){
        background-image:url('http://lorempixel.com/800/600/cats/3/');
    }

    @include ptBreakpoint($md){
        background-image:url('http://lorempixel.com/1200/1000/cats/3/');
    }

    @include ptBreakpoint($lg){
        background-image:url('http://lorempixel.com/1800/1400/cats/3/');
    }
}












.before-texture{
    
    position:relative;
    
    &:before {
        content:'';
        position:absolute; top:0; left:0; bottom:0; right:0;
        width:100%; height:100%;
        display:block;
        z-index:100;
        background: url('http://www.domain40.pagetree.com/app/webroot/userfiles/273/Image/tpl/slide-texture.png') top left;
    }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~












#site-intro{
  
  // @include ptPadding(2em 1em, 4em 2em);


  // font-size:1.2em;
  // line-height:2em; 
  // text-align:left;

  // background-color:salmon;


  // @include ptBreakpoint($sm){
  //   font-size:1.5em;
  //   line-height:2em; 
  // }


  // @include ptBreakpoint($md){
  //   // padding:3em 2em;
  //   text-align:center;
  //   font-size:em;
  //   line-height:1.8em;
  
  //   .cssvhunit &{
  //     // min-height:80vh;
  //     // @include ptPos(5);
  //   }

  //   p{
  //     text-align:center;
  //   }
  // }
  
  // p{

  //   text-transform: uppercase;
  //   // text-align:center;

  //   max-width:1000px;
  //   margin:auto;
  // }


}






#site-outro{
  
  // @include ptPadding(2em 1em, 4em 2em);


  // font-size:1.2em;
  // line-height:2em; 
  // text-align:left;

  // background-color:darkgrey;


  // @include ptBreakpoint($sm){
  //   font-size:1.5em;
  //   line-height:2em; 
  // }


  // @include ptBreakpoint($md){
  //   // padding:3em 2em;
  //   // text-align:center;
  //   // font-size:em;
  //   // line-height:1.8em;
  
  //   // .cssvhunit &{
  //     // min-height:80vh;
  //     // @include ptPos(5);
  //   // }

  //   // p{
  //   //   text-align:center;
  //   // }
  // }
  
  // p{
  //   text-transform: uppercase;
  //   // text-align:center;
  //   max-width:1000px;
  //   margin:auto;
  // }


}




































ul.social-media-icons {

  list-style: none;
  // margin:1em;
  padding:0em;

  // display:flex;
  // width:300px;
  display:inline-flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  align-content:center;
  flex-wrap:nowrap;
  // width:100%;


  li {

  display:inline-flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  align-content:center;
  flex-wrap:nowrap;

    a {      
  
      font-size:2rem;
    
      display: flex;
      align-items: center;
      justify-content: center;
      align-items:center;
      align-content:center;
      flex-wrap:nowrap;


      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      text-decoration:none;
      margin:0.5rem;
      padding:0;

      border:2px solid white;
      color:white;
      background-color:transparent;

      &:hover, &:focus {
        background-color: $pt-color-primary;
        color:white;
        border:2px solid $pt-color-primary;
      }
    }
  }

}

































 











 







.testyspy{
    position:fixed;
    right:0;
    top:50%;
    transform:translateY(-50%);
    // border:1px solid red;
    z-index: 99999;
    background-color:white;
    


    ul li{
        &.active{
            a{
                color:white;
                background-color:$pt-color-primary;
                &:hover, &:focus, &:active, &:focus{
                    color:white;
                    background-color:$pt-color-highlight;
                }  
            }
        }
        a{
            color:$pt-color-primary;
            &:hover, &:focus, &:active, &:focus{
                color:white;
                background-color:$pt-color-primary;
            }   
        }
    }
}



  

 




















 







/* 
<section class="pt-zone-60">
  <div class="flexslider css-flexslider">
    <ul class="slides">
      <li data-pt-imgswap>
        <img class="" src="http://placehold.it/500x300" >
      </li>
      <li data-pt-imgswap>
        <img class="" src="http://placehold.it/500x301" >
      </li>
      <li data-pt-imgswap>
        <img class="" src="http://placehold.it/500x302" >
      </li>
      <li data-pt-imgswap>
        <img class="" src="http://placehold.it/500x303" >
      </li>
    </ul>
  </div>
</section>

<script>
 $(window).load(function() {
  $('.css-flexslider').flexslider({
    animation: "fade"
  });
});   
</script>
 

 */


/* 


.css-flexslider{
  // border:1px solid red; 

  display:block;
  position:absolute;
  width:100%;
  height:100%;
  top:0;left:0;bottom:0;left:0;

  ul.slides{
    // border:1px solid gold;
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    top:0;left:0;bottom:0;left:0;
  
    li{
      // border:1px solid green;

      display:block;
      position:absolute;
      width:100%;
      height:100%;
      top:0;left:0;bottom:0;left:0;
    }
  }
}


 */



































