
/* 


 */

.pt-homeplate{
    display:block;
    position:relative;
    // padding:5em 0 3em 0;
    padding:1em;
    // min-height:600px;

    overflow:hidden;

    // border:10px solid gold;
    // background-color:#000;
    
    // background-image: url('http://www.lorempixel.com/1200/1000/abstract');
    // background-image: url('http://lorempizza.com/1000/1000');
    // background-attachment:fixed;
    // background-size:cover;

    // @include ptPos(5);
    min-height:100%;
    
color:white;
    display:flex;
    flex-direction:column;
    align-content:center;
    align-items:center;
    justify-content:center;
    // justify-content:space-around;
    // justify-content:space-between;

    @include ptBreakpoint($sm){
        // padding:10em 0 15em 0;

        .cssvhunit &{
            height:95vh;
            // padding:5em 1em;
        }  

        .no-touchevents &{
            // background-attachment:fixed;
        }

    }


    *{
        z-index:5;
    }

    // &:before {
    //     content:'';
    //     position:absolute; top:0; left:0; bottom:0; right:0;
    //     width:100%; height:100%;
    //     display:block;
    //     z-index:1;
    //     background: url('http://www.domain40.pagetree.com/app/webroot/userfiles/273/Image/tpl/slide-texture.png') top left fixed;
    // }
    // 
    // 
    // 
    
    // flexbox min-height: 100%
}
 


.pt-homeplate-logo{
    // border:1px dotted white;


    
    position:relative;
    display:block;
    width:100%;
    max-width:600px;
    height:auto;
    min-height:100px;
    margin:1em auto;
    text-align:center;
    // padding:1em;
    // padding:1em;
    padding:0;
    
    img{
        width:100%;
        max-width:100%;
        height:auto;
        display:block;
    }



    // font-family: 'startrek';
    font-size:5em;
    text-transform: uppercase;
    z-index:1;
}



.pt-homeplate-headline{
    // border:1px dotted white;
    position:relative;
    color:#fff;
    // background-color:rgba($pt-color-primary, 0.7);

    width:90%;
    // max-width:700px;
    // padding:2em;
    margin:0 auto;

    text-transform:capitalize;    
    text-align:center;

    z-index:1;


    em{
        display:block;
        font-size:0.8em;
        text-transform: lowercase;
    }
    
}



.pt-homeplate-bg{
    // border:1px solid red;
    position:absolute; top:0; left:0; bottom:0; right:0;
    width:100%; height:100%;
    z-index:0;
    img{
        width:100%;
        height:auto;
    }
}



// .pt-bg{
//     // border:10px solid gold;
// }










