

// ALTERNATE TO FLEXSLIDER:
@import "slick/slick-theme";
@import "slick/slick";

   


$slick-arrow-color:white;
$slick-arrow-bg:rgba(0,0,0,0.05);
$slick-arrow-size:30px; // must be in pixels?








@mixin data-pt-slick(){

  position:relative;  
  padding: 0;

  .slick-slide img{
    // width:100%;
    max-width:100%;
    height:auto;
  }

  &.slick-slider{
    margin: 0 0 0 0;  
  }

  & .slick-arrow{
    background-color:$slick-arrow-bg;
    color:transparent;
    width:3%;
    height:100%;

    z-index:9;
    
    @include ptPos(5);

    &:before{
      font-size:$slick-arrow-size;
      color:$slick-arrow-color;
    }
    &.slick-prev{
      left:0;
    } 
    &.slick-next{
      right:0;
    }
  }

  & .slick-dots {
    bottom: 0.5em;
    button:before{
      font-size:30px;
    }
  }



}




@mixin data-pt-imgswap-list(){

  position:absolute; top:0; left:0; bottom:0; right:0;
  width:100%;  height:100%;

  // height:100%;
  
  .slick-list,
  .slick-track{
    height:100%;
    // min-height:100px;
    // display:flex;
    // flex-direction: row;
    // align-content: stretch;
    // align-items:stretch;
  }

  .slick-slide{
    height:100%;
    // min-height:100px;


    img{
      display:block !important;
      visibility:hidden !important;

      @include ptBreakpoint($sm){
        display:none !important;
      }
    }
  }
}





 



[data-pt-slick-row]{

  @include data-pt-slick();

  &[data-pt-imgswap-list]{
    @include data-pt-imgswap-list();
  }

}



[data-pt-slick-random],
[data-pt-slick-single]{

  @include data-pt-slick();

  .slick-slide{

      @include ptPos(5);
      // border:1px solid red;

  }  

  &[data-pt-imgswap-list]{
    @include data-pt-imgswap-list();

    .slick-slide{
      // height:100%;
    }
  }
}









































